body {
    background-color: #000000;
}

.headeristagram {
    background-color: #e9e8e8;
}

.headeristagram .navbar-brand,
.headeristagram .nav-link {
    color: #000000;
}

.headeristagram .nav-link:hover,
.headeristagram .navbar-brand:hover {
    color: #000000;
    text-decoration: none;
}

.main-container {
    max-width: 960px;

}

.main-container {
    background-color: aliceblue;
    border-radius: 8px;
    overflow: hidden;
}

h1 {
    color: #000000;
    margin: 0;

}

.d-flex.flex-row.align-items-center.justify-content-center.gap-2{
    background-color:  #ffffff;
}